
{% extends "layout.html" %}

{% block pageTitle %}
  Government Art Collection
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Discover the collection by colour
      </h1>{{releaseVersion | log }}

      <form method="get" action="#">
        <p><span class="swatch" style="background-color: #{{searchRgb}}"></span></p>
        <input name="rgb" type="color" value="{{searchRgb}}">
        <input type="submit">
      </form>

      {% for result in results %}


        <h1>{{result.title}}</h1>


        <p><img src="/public/images/gallery/{{result.object}}.jpg"></p>
        <h2>{{result.artist}}</h2>

        <p>Date:</p>

        <p>Medium:</p>

        <p>Where it came from:</p>

      {% endfor %}

    </div>
</div>

{% endblock %}
