
{% extends "layout.html" %}

{% block pageTitle %}
  Government Art Collection
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Government Art Collection
      </h1>{{releaseVersion | log }}

      <form method="get" action="#">
        <input name="rgb" type="color" value="{{searchRgb}}">
        <input type="submit">
      </form>

      {% for result in results %}

        <p>{{result.artist}}</p>
        <p><img src="/public/images/gallery/{{result.object}}.jpg"></p>
        <p><span class="swatch" style="background-color: #{{searchRgb}}"></span></p>

      {% endfor %}

    </div>
</div>

{% endblock %}
